/*** Importation of fonts ***/
@font-face {
  font-family: "Fuggles Pro";
  src: url("./../fonts/FugglesPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*** Global Variables ***/
:root {
  --c-white: #ffffff;
  --c-white-mute-opacity-60: rgba(234, 236, 240, 0.6);

  --c-black: #000000;
  --c-black-soft: rgba(36, 34, 35, 0.7);

  --c-grey-soft: #57667d;
  --c-grey-mute: #cccccc;

  --c-gold: #ffd585;
  --c-red: #ff0000;

  --ff-fuggles: "Fuggles Pro", serif;
  --ff-inter: "Inter", sans-serif;

  --fw-bolder: 800;
  --fw-bold: 700;
  --fw-sm-bold: 500;

  --fs-h1: 105px;
  --fs-h2: 95px;
  --fs-h3: 80px;
  --fs-20px: 20px;
  --fs-18px: 18px;
  --fs-16px: 16px;
  --fs-14px: 14px;

  --radius: 12px;
  --section-gap: 160px;

  --outline-gold: 2px solid var(--c-gold);
  --outline-white: 2px solid var(--c-white);
  --outline-black: 2px solid var(--c-black);

  --perspective-1500: perspective(1500px);

  --atv-70-5: view(70% 5%);
  --atv-80-5: view(80% 5%);
}

/*** Variables for this Project ***/
:root {
  /** 3d **/
  --perspective-medium: var(--perspective-1500);

  /** Animation **/
  --animation-timeline-view: var(--atv-70-5);
  --animation-timeline-view-fast: var(--atv-80-5);

  /** Buttons **/
  --btn-color: var(--c-black);
  --btn-background-color: var(--c-gold);
  --btn-font-weight: var(--fw-sm-bold);
  --btn-radius: var(--radius);
  --btn-color-hover: var(--c-white);
  --btn-background-color-hover: var(--c-black);
  --btn-outline-hover: var(--outline-gold);

  /** Colors **/
  --background-color: var(--c-black);
  --background-light-color: var(--c-white);

  --text-color-primary: var(--c-gold);
  --text-color-secondary: var(--c-white);
  --text-color-info: var(--c-grey-soft);

  --input-border-color: var(--c-grey-mute);
  --input-border-color-hover: var(--c-white);
  --input-placeholder-color: var(--c-grey-mute);

  --underline: var(--c-gold);
  --underline-light: var(--c-white);

  --divider: var(--c-white-mute-opacity-60);

  --error-color: var(--c-red);

  --svg-path-color: var(--c-white);

  --mask-background-color: var(--c-black-soft);

  /** Font families **/
  --font-family-primary: var(--ff-fuggles);
  --font-family-secondary: var(--ff-inter);

  /** Font sizes **/
  --heading-size: var(--fs-h1);
  --heading-2-size: var(--fs-h2);
  --heading-3-size: var(--fs-h3);
  --text-20px-size: var(--fs-20px);
  --text-18px-size: var(--fs-18px);
  --text-16px-size: var(--fs-16px);
  --text-14px-size: var(--fs-14px);

  /** Font weights **/
  --font-weight-heading: var(--fw-bolder);
  --font-weight-strong: var(--fw-bold);
  --font-weight-highlight: var(--fw-sm-bold);

  /** Outlines **/
  --outline-light: var(--outline-white);
  --outline-dark: var(--outline-black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--font-family-secondary);
  color: var(--text-color-secondary);
  background-color: var(--background-color);
  line-height: 1.6;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-primary);
  color: var(--text-color-secondary);
  margin: 0;
}
h1 {
  font-size: var(--heading-size);
  font-weight: var(--font-weight-heading);
}
h2 {
  font-size: var(--heading-2-size);
}
h3 {
  font-size: var(--heading-3-size);
}
