@import "./base.css";

#app {
  font-weight: normal;
}

a,
button {
  text-decoration: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

/* Position absolute à partir de sm */
@media (width >= 576px) {
  .position-sm-absolute {
    position: absolute;
  }
  .position-sm-relative {
    position: relative;
  }
}

/* Position absolute à partir de md */
@media (width >= 768px) {
  .position-md-absolute {
    position: absolute;
  }
  .position-md-relative {
    position: relative;
  }
}

/* Position absolute à partir de lg */
@media (width >= 992px) {
  .position-lg-absolute {
    position: absolute;
  }
  .position-lg-relative {
    position: relative;
  }
}

/* Position absolute à partir de xl */
@media (width >= 1200px) {
  .position-xl-absolute {
    position: absolute;
  }
  .position-xl-relative {
    position: relative;
  }
}
